.button {
    height: var(--button-height);
    padding: 16px 32px;
    font-size: 16px;

    &:focus {
        border: var(--border-button);
    }

    &:disabled {
        opacity: 0.5;
    }

    &--white {
        background-color: var(--color-white);

        @include hover {
            background-color: var(--color-light-gray);
        }
    }

    &--secondary {
        background-color: var(--color-light-gray);

        @include hover {
            background-color: var(--color-border-gray);
        }
    }

    &--primary {
        background-color: var(--color-primary-dark);
        color: var(--color-white);

        @include hover {
            background-color: var(--color-primary-dark-hover);
        }
    }

    &--opaque {
        background-color: rgba(249, 249, 249, 0.15);
        color: var(--color-white);
        border: var(--border-button-small);

        @include hover {
            background-color: rgba(249, 249, 249, 0.3);
            border: 1px solid transparent;
        }
    }

    &--ghost {
        background-color: transparent;

        @include hover {
            background-color: var(--color-border-gray);
        }

        &:disabled {
            border: var(--border-button-small);
        }
    }

    &--input{
        width: 118px;
    }
}