.ceramics {
    padding-top: 80px;
    padding-bottom: 56px;

    display: flex;
    flex-direction: column;
    row-gap: 34px;

    @include mobile {
        padding-top: 48px;
        padding-bottom: 38px;
    }

    &__item img{
        margin-bottom: 16px;

        @include mobile {
            width: 163px;
            height: 201px;
        }
    }

    &__button {
        align-self: center;

        @include mobile {
            width: 100%;
        }
    }
}