.differences {
    padding-top: 60px;
    padding-bottom: 86px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;

    @include mobile{
        padding-top: 40px;
        padding-bottom: 45px;
        row-gap: 36px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        column-gap: 70px;

        @include mobile{
            flex-direction: column;
            row-gap: 36px;
        }
    }

    &__item {
        max-height: 124px;
        min-width: 270px;

        &:first-child{
            margin-left: 6px;
        }

        @include mobile{
            &:first-child{
                margin-left: 0;
            }
        }
    }

}