.differences-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;

    @include mobile{
        row-gap: 12px
    }

    &__icon{
        @include square(24px);
        @include flex-center;

        margin-bottom: 8px;

        @include mobile{
            margin-bottom: 4px;
        }
    }
}
