.product-card {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &__image {
        margin-bottom: 16px;

        @include mobile {
            width: 163px;
            height: 201px;
        }
    }
}