:root {
  --color-primary: #4e4d93;
  --color-primary-light: #726e8d;
  --color-primary-dark: #2a254b;
  --color-primary-dark-hover: #1e193e;
  --color-light-gray: #f9f9f9;
  --color-border-gray: #ebe8f4;
  --color-border-dark: #cac6da;
  --color-white: #ffffff;

  --border-button: 2px solid var(--color-primary);
  --border-button-small: 1px solid var(--color-primary);

  --font-family-base: "Satoshi", sans-serif;
  --second-family: "Clash Display", sans-serif;

  --container-width: 1280px;
  --container-padding-x: 80px;

  --transition-duration: 0.3s;

  @include mobile {
    --section-padding-x: 24px;
  }
}